<?xml version="1.0"?>
<!--
 For more information on how to configure your ASP.NET application, please visit
-->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    </system.web>
  
  <connectionStrings>
    <add name="MadhuriKathiriaClubBAIST" connectionString ="persist Security Info=False;Integrated Security= True;Database=ClubBAIST;server=LAPTOP-6MO2BIG9;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  </configuration>
  
  



  

